
 .headcss {
    background-color: #eca554;
    position: fixed;
    width: 100%;
    margin-top: -20px;
}

.headcss .p0 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    text-align: center;
    padding: 10px;
}

#tailcss {
    background-color:  #eca554;
    width: 100%;
    bottom: 0;
    position: fixed;
}

#tailcss #ptail {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    text-align: center;
    padding: 10px;
}

/* color是字体颜色，background-color才是背景色哦 */
.maincss {
    margin: 10px;
    text-align: left;
    width: 100%;
    font-size: x-large;
}

#id2css {
    height: 1000px;
    width: 100%;
    text-align: center;
    background-color: rgb(161, 196, 170);
}
#id1css {
    width: 80%;
    font-size: large;
    color: #ffffff;
    background-color: rgb(83, 17, 138);
    text-align: center;
}

.class1css {
    width: 80%;
    font-size: large;
    color: #ffffff;
    background-color: rgb(181, 184, 40);
    text-align: center;
}